<h1>Our Lovely Animals</h1>
<div class="card-container">
  <button (click)="moveLeft()" class="arrow">&lt;</button>
  <div class="cards-wrapper">
    <div *ngFor="let animal of visibleAnimals" class="card">

      <app-animal-card [animal]="animal" (orderAnimalEvent)="orderAnimal($event)"></app-animal-card>
    </div>
  </div>
  <button (click)="moveRight()" class="arrow">&gt;</button>
</div>

<h1>Our Fun Toys</h1>
<div class="card-container">
  <button (click)="moveLeftToys()" class="arrow">&lt;</button>
  <div class="cards-wrapper">
    <div *ngFor="let toy of visibleToys" class="card">
      <app-toy-card [toy]="toy" (orderAnimalEvent)="orderAnimal($event)"></app-toy-card>
    </div>
  </div>
  <button (click)="moveRightToys()" class="arrow">&gt;</button>
</div>
