h1{
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;

}

.card-container {
    display: flex;
    align-items: center;
    //overflow-x: auto; /* Allow horizontal scrolling */
    padding: 20px; /* Add padding to the container */
    
  }
  
  .cards-wrapper {
    display: flex;
    align-items: center;
  }
  
  .card {
    width: 300px;
    height: 400px;
    margin-right: 10px; /* Add margin between cards */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevent cards from shrinking */
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
  }

  .card-container-container{
    display: flex;
    align-items: center;
    overflow-y: auto; /* Allow horizontal scrolling */
    padding: 20px; /* Add padding to the container */
  }
  